# Binaries
bin/

# Test artifacts
testdata/*.crt
testdata/*.key
testdata/*.pem
testdata/*.jks
testdata/*.p12
testdata/*.csr
testdata/*.srl
testdata/*.class

# IDE
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Coverage
coverage.out
coverage.html
